<mat-card class="item__card" *ngIf="!!data">
  <img
    class="item__image"
    mat-card-image
    [src]="data.image"
    [alt]="'Photo of a ${data.title}'"
  />
  <mat-card-content>
    <div class="item__actions">
      <span>{{ data.price }}€</span>

      <button
        mat-icon-button
        color="warn"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <p class="item__title">{{ data.title }}</p>

    <p class="item__description">
      {{ data.description }}
    </p>
  </mat-card-content>
</mat-card>
