$break-tablet: 768px;
$break-narrow-desktop: 1024px;
$break-desktop: 1280px;

:host {
  .marketplace__cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    padding: 0 15px;
    margin: 40px auto;

    max-width: 660px;

    wlp-item-card {
      justify-self: center;
    }
  }
}

@media screen and (min-width: $break-desktop) {
  :host {
    .marketplace__cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
